################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DocumentToPdf.Api/obj/Debug/
/DocumentToPdf.Core/obj/
