<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="local" value="./.nuget-local" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="local">
			<package pattern="DocumentToPdf.*" />
		</packageSource>

		<packageSource key="nuget.org">
			<package pattern="Aspose.*" />
			<package pattern="Microsoft.*" />
			<package pattern="Swashbuckle.*" />
			<package pattern="System.*" />
			<package pattern="NETStandard.*" />
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
